{% extends 'base.html' %}
{% block title %}My home{% endblock %}
{% include 'logged-in-header.html' %}
{% block content %}
<div class="welcome-banner">
  <h1 class="fantasy-welcome">𖹭 Support 𖹭</h1>
  <p class="fantasy-subtext">🪄 Hi there, fellow Dragon Keeper! 🐲<br>

TinyWings is a passion project, built with love and zero cost to players
      — but I'd love to take it even further. With your support,
      I hope to grow Tiny Wings into a mobile app and expanded game,
      filled with more dragons, deeper exploration, and enchanting new features. 💫<br>

If you’ve enjoyed hatching your first egg or exploring with your dragons, consider leaving a
      little magic here to help fuel future updates! Every bit of support keeps the fire burning. 🔥<br>

Thank you for being part of the journey. 🧡<br>
Who will you hatch next?
</div>
<div class="px-4 pt-0 mt-4 text-center">
<a href="https://ko-fi.com/tinywings">
    <button type="button" class="meie-script-regular  btn btn-outline-light me-2">Support 𖹭</button>
</a>
</div>


{% include 'footer.html' %}
{% endblock %}