{% extends 'base.html' %}
{% block title %}TinyWings{% endblock %}
{% include 'logged-in-header.html' %}
{% block content %}

<div class="container-fluid">
  <div class="col-md-11 main-content mx-auto">
      <div class="d-flex flex-column align-items-center text-center">
        <div class="welcome-banner">
            <h1 class="fantasy-welcome">{{current_user.username}}'s Eggs 𖹭</h1>
            {% if dragon %}
                <p class="sevillana-regular" style="color:#722323">You hatched a {{ dragon.rarity }} dragon: <strong>{{ dragon.name }}</strong>!</p>
                <img src="{{ url_for('static', filename=dragon.webp) }}" width="200" alt="{{ dragon.name }}">
            {% endif %}
        </div>
<div class="px-4 pt-0 mt-4 text-center">
    <div class="img-container">
        <img src="{{ url_for('static', filename='images/nest.webp')}}" width=800 class="parent-img img-fluid  rounded-3 mb-1" alt="Dragon Nest" loading="lazy" >
        {% if eggs> 0 %}
        <img src="{{ url_for('static', filename='images/egg2.webp') }}" alt="Dragon Egg" class="ontop-img">
        <form action="{{ url_for('inventory_eggs') }}" method="POST" style=" text-align: center;">
        <button type="submit" class="meie-script-regular btn btn-outline-light mt-2">Click to hatch!</button>
        </form>
        {% endif %}
    </div>
     </div>
    </div>
  </div>
</div>




{% endblock %}
