
    <header class="footer w-100 mt-4"
    style="background-image: url('{{ url_for('static', filename='images/banner.webp') }}'); background-size: cover;
    background-position: center; background-repeat: no-repeat;">
        <div class="col-md-3 mb-2 mb-md-0">
            <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
                <img src="../static/images/logo.webp" width="200" >
            </a>
        </div>
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li>
                <a href="{{ url_for('home') }}" class="meie-script-regular pastel nav-link px-2">Home</a>
            </li>
            <li>
                <a href="{{ url_for('world_map') }}" class="meie-script-regular pastel nav-link px-2">Map</a>
            </li>
            <li>
                <a href="{{ url_for('dragons') }}" class=" meie-script-regular pastel nav-link px-2">Dragons</a>
            </li>
        </ul>
        <div class="col-md-3 text-end">
            <a href="{{ url_for('login') }}" >
            <button type="button" class="meie-script-regular  btn btn-outline-light me-2">Login</button>
            </a>
            <a href="{{ url_for('register') }}">
            <button type="button" class="meie-script-regular btn btn-light">Sign-up</button>
            </a>
        </div>
    </header>
