{% extends 'base.html' %}
{% block title %}TinyWings{% endblock %}
{% include 'logged-in-header.html' %}
{% block content %}

<div class="container-fluid">
    <div class="col-md-1">
<div class="d-flex flex-column flex-shrink-0 bg-body-tertiary" style="width: 4.5rem;">
  <a href="{{url_for('inventory_eggs')}}" class="styled-tooltip nav-link py-3 border-bottom rounded-0" data-bs-toggle="tooltip" data-bs-placement="right" aria-label="Dashboard" data-bs-original-title="Dashboard">
    <span class="tooltip-text">Hatchery</span>
      <img src="{{ url_for('static', filename='images/egg2.webp')}}" width="100" >
  </a>
  <a href="{{url_for('store')}}" class="styled-tooltip nav-link py-3 border-bottom rounded-0" data-bs-toggle="tooltip"
     data-bs-placement="right" aria-label="Dashboard" data-bs-original-title="Dashboard">
    <span class="tooltip-text">Shop</span>
      <img src="{{ url_for('static', filename='images/coins.webp')}}" alt="Coins" width="100" >
  </a>
</div>
    </div>
    <div class="col-md-11 main-content">
      <div class="welcome-banner">
  <h1 class="fantasy-welcome">Inventory</h1>
   <div class="row justify-content-center fantasy-subtext">
    <div class="col-6 col-md-2">🥚 Eggs: {{ eggs }}</div>
    <div class="col-6 col-md-2">🍎 Food: {{ food }}</div>
    <div class="col-6 col-md-2">🧸 Toys: {{ toy }}</div>
    <div class="col-6 col-md-2">💊 Medicine: {{ meds }}</div>
    <div class="col-6 col-md-2">🌱 Seeds: {{ seed }}</div>
    <div class="col-12 mt-2">💰 Coins: {{ coins }}</div>
  </div>
      </div>
        <div class="welcome-banner">
   <div class="row justify-content-center fantasy-subtext">
    <div class="col-6 col-md-2">🥚 Eggs: {{ eggs }}</div>
    <div class="col-6 col-md-2">🍎 Food: {{ food }}</div>
    <div class="col-6 col-md-2">🧸 Toys: {{ toy }}</div>
    <div class="col-6 col-md-2">💊 Medicine: {{ meds }}</div>
    <div class="col-6 col-md-2">🌱 Seeds: {{ seed }}</div>
    <div class="col-12 mt-2">💰 Coins: {{ coins }}</div>
  </div>
</div>
</div>
<div class="px-4 pt-0 mt-4 text-center">
    <div class="img-container">
        <img src="{{ url_for('static', filename='images/inventory.webp')}}" width=800 class="parent-img img-fluid  rounded-3 mb-1" alt="Inventory" loading="lazy" >
        {% if eggs> 0 %}
        <img src="{{ url_for('static', filename='images/egg2.webp') }}" alt="Dragon Egg" class="inventory-egg">
        {% endif %}
        {% if toy> 0 %}
        <img src="{{ url_for('static', filename='images/toy.webp') }}" alt="Toy" class="inventory-toy">
        {% endif %}
        {% if food> 0 %}
        <img src="{{ url_for('static', filename='images/food.webp') }}" alt="Food" class="inventory-food">
        {% endif %}
        {% if seed> 0 %}
        <img src="{{ url_for('static', filename='images/seeds.webp') }}" alt="Seeds" class="inventory-seed">
        {% endif %}
    </div>
    </div>
  </div>



{% endblock %}
