    <header class="w-100 d-flex flex-wrap align-items-center justify-content-between py-1 mb-4"
    style="background-image: url('{{ url_for('static', filename='images/banner.webp') }}'); background-size: cover;
    background-position: center; background-repeat: no-repeat;">

    <div class="p-2">
        <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
            <img src="{{ url_for('static', filename='images/logo.webp') }}" width="180" alt="Tiny Wings Logo">
        </a>
    </div>

    <ul class="nav flex-wrap justify-content-center">
        <li><a href="{{ url_for('user_home') }}" class="meie-script-regular pastel nav-link px-2">Home</a></li>
        <li><a href="{{ url_for('missions') }}" class="meie-script-regular pastel nav-link px-2">Missions</a></li>
        <li><a href="{{ url_for('user_dragons') }}" class="meie-script-regular pastel nav-link px-2">My Dragons</a></li>
        <li><a href="{{ url_for('inventory') }}" class="meie-script-regular pastel nav-link px-2">Inventory</a></li>
        <li><a href="{{ url_for('farm') }}" class="meie-script-regular pastel nav-link px-2">Farm</a></li>
        <li><a href="{{ url_for('support') }}" class="meie-script-regular pastel nav-link px-2">Support</a></li>
    </ul>

    <div class="p-2 text-end">
        <a href="{{ url_for('logout') }}">
            <button type="button" class="meie-script-regular btn btn-outline-light">Logout</button>
        </a>
    </div>
</header>