{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}
{% block title %}My dragons{% endblock %}
{% include 'logged-in-header.html' %}

{% block content %}
<div class="container-fluid">
  <div class="col-md-11 main-content mx-auto">
      <div class="d-flex flex-column align-items-center text-center">
<div class="welcome-banner">
  <h1 class="fantasy-welcome">{{ current_user.username }}'s Dragons!</h1>
  <p class="fantasy-subtext">Click on a dragon to look after them </p>
</div>
    <div class="img-container">
            <img src="{{ url_for('static', filename='images/dragon_area.webp')}}"
                 class="parent-img img-fluid  rounded-3 mb-1" alt="Dragons area" loading="lazy" >
            {% if dragons %}
            {% for dragon in dragons %}
                <a href="{{url_for('care_for', dragon=dragon)}}" class="{{ dragon|lower }}">
                <img src="{{ url_for('static', filename='dragons/' ~ dragon|lower ~ '.webp')}}" width=190
                     class=" img-fluid  rounded-3 mb-1" alt="{{dragon}}" loading="lazy" >
                </a>
            {% endfor %}
            {% endif %}
    </div>
</div>
</div>
  </div>




{% endblock %}
