{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}
{% block title %}My home{% endblock %}

{% include 'logged-in-header.html' %}

{% block content %}
<div class="container-fluid">
    <div class="col-md-1">
  <div class="row">
    <div class="d-flex flex-column flex-shrink-0 bg-body-tertiary" style="width: 4.5rem;">
        <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
 <li>
    <a href="{{url_for('inventory')}}" class="styled-tooltip nav-link py-3 border-bottom rounded-0"
       data-bs-toggle="tooltip" data-bs-placement="right" aria-label="Dashboard" data-bs-original-title="Dashboard">
    <span class="tooltip-text">Inventory</span>
      <img src="{{ url_for('static', filename='images/backpack.webp')}}" alt="Inventory backpack" width="100" >
  </a>
     </li> <li>
  <a href="{{url_for('store')}}" class="styled-tooltip nav-link py-3 border-bottom rounded-0" data-bs-toggle="tooltip"
     data-bs-placement="right" aria-label="Dashboard" data-bs-original-title="Dashboard">
    <span class="tooltip-text">Shop</span>
      <img src="{{ url_for('static', filename='images/coins.webp')}}" alt="Coins" width="100" >
  </a>
        </li>
        </ul>
</div>
    </div>
      <div class="col-md-11">
<div class="welcome-banner">
  <h1 class="fantasy-welcome">Welcome home, {{ current_user.username }}! 𖹭</h1>
  <p class="fantasy-subtext">Your dragons have been waiting patiently... </p>
</div>
<div class="px-4 pt-0 mt-4 text-center">
    <img src="{{ url_for('static', filename='images/welcome-home.webp')}}" width=800 class=" img-fluid  rounded-3 mb-1" alt="Home" loading="lazy" >
</div>
</div>
        </div>
  </div>
{% endblock %}
