{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}
{% block title %}My dragons{% endblock %}
{% include 'logged-in-header.html' %}

{% block content %}
<div class="container-fluid">
      <div class="row">
    <div class="col-md-1">
<div class="d-flex flex-column flex-shrink-0 bg-body-tertiary" style="width: 4.5rem;">
  <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
 <li>
  <a href="{{url_for('inventory_eggs')}}" class="styled-tooltip nav-link py-3 border-bottom rounded-0" data-bs-toggle="tooltip" data-bs-placement="right" aria-label="Dashboard" data-bs-original-title="Dashboard">
    <span class="tooltip-text">Hatchery</span>
      <img src="{{ url_for('static', filename='images/egg2.webp')}}" width="100" >
  </a> </li>
  </ul>
</div>
    </div>
</div>
  <div class="col-md-11 main-content mx-auto">
      <div class="d-flex flex-column align-items-center text-center">
<div class="welcome-banner">
  <h1 class="fantasy-welcome">{{ current_user.username }}'s Dragons!</h1>
  <p class="fantasy-subtext">Click on a dragon to look after them </p>
</div>
    <div class="img-container">
            <img src="{{ url_for('static', filename='images/dragon_area.webp')}}"
                 class="parent-img img-fluid  rounded-3 mb-1" alt="Dragons area" loading="lazy" >
            {% if dragons %}
            {% for dragon in dragons %}
                <a href="{{url_for('care_for', dragon=dragon)}}" class="{{ dragon|lower }}">
                <img src="{{ url_for('static', filename='dragons/' ~ dragon|lower ~ '.webp')}}" width=180
                     class=" img-fluid  rounded-3 mb-1" alt="{{dragon}}" loading="lazy" >
                </a>
            {% endfor %}
            {% endif %}
    </div>
</div>
</div>
  </div>




{% endblock %}
